<nav class="navbar">
    <div class="logo">
        {{!-- <img src="/images/logo.png" alt="logo"> --}}
    </div>
        <div class="nav-link-box">
            <ul class="nav-links">
            <li class="nav-link"><a href="/">Home</a></li>
            {{#if isAdmin}}
            <li class="nav-link" ><a href="/admin/products/all">Admin</a></li>
            {{/if}}
            <li class="nav-link"><a href="/shop">Shop</a></li>
            {{#if isLoggedIn}}
            <li class="nav-link"><a href="/shop/cart">Cart</a></li>
            <li class="nav-link"><a href="/shop/order/history">Orders</a></li>
            {{/if}}
        </ul>
        <ul class="nav-links" >
            {{#unless isLoggedIn}}
            <li class="nav-link"><a href="/login">Login</a></li>
            {{/unless}}
            {{#if isLoggedIn}}
            <li class="nav-link" ><a href="/profile">Profile</a></li>
            {{/if}}
            {{#if isLoggedIn}}
            <li class="nav-link" ><a href="/logout">Logout</a></li>
            {{#if user.googleImg}}
            <li class="profile-img"><img src="{{user.googleImg}}" alt="profile photo"></li>
            {{/if}}
            {{#unless user.googleImg}}
            <li class="profile-img"><img src="https://cdn-icons-png.flaticon.com/128/9408/9408175.png" alt="profile photo"></li>
            {{/unless}}
            {{/if}}
        </ul>
        </div>

</nav>