<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {{>css}}
</head>
<body>
    {{>navbar}}
    <div class="main-container">
        <h1>Welcome to Profile Mr {{user.username}} </h1>
    <a href="/logout">
    <button>Logout</button>
    </a>
    </div>
</body>
</html>